* {
  margin: 0;
  padding: 0;
}

body {
  padding: 100px;
  background-color: rgb(15, 13, 41);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  background-color: white;
  border-radius: 25px;
  padding: 25px;
}

.headline {
  text-align: center;
  font-size: 2em;
}

.Header, .Education, .Experience {
  padding: 25px 0;
  border-bottom: solid 1px black;
}

.Experience {
  border-bottom: none;
}

.Header {
  display: flex;
  justify-content: space-between;
}

h5 {
  font-weight: 200;
  color: rgb(26, 26, 26);
}

.email, .number {
  font-size: 1em;
  font-weight: 600;
}

.profile-image {
  width: 100px;
}

.profile-image img{
  width: 100%;
}

.info {
  display: flex;
}

.name-label{
  font-size: 1em;
}

.name-section .name{
  font-size: 2em;
  font-weight: 700;
  width: 400px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border: none;
}

input:focus {
  outline: none;
  border-bottom: solid 1px black;
}

.add-education { 
  
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5em;
  cursor: pointer;
}

.add-education:hover {
  background-color: rgb(201, 201, 201);
}

.add-education:active {
  background-color: rgb(179, 179, 179);
}

.ed-info-section {
  display: flex;
  justify-content: space-between;
}

.Education-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-experience { 
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5em;
  cursor: pointer;
}

.add-experience:hover {
  background-color: rgb(201, 201, 201);
}

.add-experience:active {
  background-color: rgb(179, 179, 179);
}

.ex-info-section {
  display: flex;
  justify-content: space-between;
}

.Experience-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

p {
  font-size: 1em;
  color: rgb(53, 53, 53);
  font-weight: 100;
}

.ed-info-section input, .ex-info-section input {
  font-size: 1.5em;
  background-color: transparent;
}